{% if Angular %}
{% include 'Frontend/Framework/Angular/Angular.jinja'%}
{% elif React %}
{% include 'Frontend/Framework/React/React.jinja'%}
{% elif Vue %}
{% include 'Frontend/Framework/Vue/Vue.jinja'%}
{% endif %}


